* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

h1 {
  text-align: center;
}

th {
  font-weight: bold;
  cursor: pointer;
}

th.not-sortable {
  cursor: not-allowed;
}

input[type="submit"] {
  width: 100%;
}

.score-green {
  background-color: rgb(0, 255, 0);
}

.score-red {
  background-color: red;
}

.score-yellow {
  background-color: yellow;
}